@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #1E1E1E;
    --azul: #001aff;
    --cinza: #b1b1b1;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cinza);
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}
h1 span{
    color: var(--azul);
}
#dias_restantes {
    color: var(--azul);
    font-size: 100px;
}